<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img
          class="banner-logo"
          src="https://img.icons8.com/color/48/000000/pokeball-2.png"
        />
        <strong>{{ title }}</strong>
      </a>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/sources">ℹ️ Sources</a>
          </li>
        </ul>
      </form>
    </div>
  </div>
</header>
