<div class="container rounded bg-white mt-5 mb-5">
  <div class="row" *ngIf="details">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <div>
          <img
            [src]="details.images[2]"
            class="rounded-circle mt-5"
            width="90"
          />
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="p-3 py-5">
        <div class="titleC">
          <h1 [innerHtml]="details.name | uppercase"></h1>
        </div>
        <div class="row mt-2">
          <div class="row fill">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Order-Number</h5>
                  <li class="card-text" [innerHtml]="details.order"></li>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Types</h5>
                  <div *ngFor="let item of details.types">
                    <li [innerHtml]="item.type.name"></li>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row fill" style="margin-top: 30px;">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Abilities</h5>
                  <div *ngFor="let item of details.abilities">
                    <li class="card-text" [innerHtml]="item.ability.name"></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Stats</h5>
                  <div *ngFor="let item of details.stats">
                    <li [innerHtml]="item.stat.name"></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Moves</h5>
              <div class="movesText">
                <div *ngFor="let item of details.moves">
                  <span
                    style="margin: 0 3px;"
                    class="badge badge-pill badge-info"
                    [innerHtml]="item.move.name"
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 text-left">
            <button
              class="btn btn-primary profile-button"
              type="button"
              routerLink="../"
            >
              Back to Pokemons
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
