<app-header></app-header>
<section class="jumbotron text-center">
  <div class="container">
    <h1>
      Pokédex
    </h1>
    <p class="lead text-muted">
      Unser Pokédex enthält umfassende Informationen zu sämtlichen bekannten
      Pokémon. Erfahre alles über Fundorte, Erlernbarkeiten, strategische
      Nutzungen, …
    </p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>

<router-outlet></router-outlet>
