<section class="jumbotron text-center">
  <div class="container">
    <h1>All sources</h1>
    <div class="table-margin">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th></th>
            <th scope="col">Source</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img
                src="https://img.icons8.com/color/30/000000/pokeball-2.png"
              />
            </td>
            <td>
              <a href="https://icons8.com/icon/45674/pokeball-2"
                >Pokeball 2 icon by Icons8</a
              >
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>

            <td>
              <img
                src="https://img.icons8.com/officel/30/000000/circled-up.png"
              />
            </td>
            <td>
              <a href="https://icons8.com/icon/ghOnKM0xe78k/oben-eingekreist"
                >Oben eingekreist icon by Icons8</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
