<section class="jumbotron text-center">
  <div class="container">
    <h1>Search Pokémon</h1>

    <div class="form-group has-search">
      <span class="fa fa-search fa-lg form-control-feedback"></span>
      <input
        type="text"
        class="form-control search"
        placeholder="Search for Pokémon"
        (change)="onSearchChange($event)"
      />
    </div>
    <p>
      Need a hint? Try
      <span style="font-weight: bold;">"pikachu", "ditto", "pidgeot"</span>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let pk of pokemon">
        <div class="card mb-4 shadow-sm">
          <img
            [src]="pk.image"
            class="bd-placeholder-img card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              {{ pk.name | uppercase }}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-secondary"
                  [routerLink]="pk.pokeIndex"
                >
                  Details
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row moreButton">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="loadPokemon(true)"
      >
        Load more Pokemon
      </button>
    </div>
  </div>
  <div class="row" class="toTop">
    <img
      (click)="toTop()"
      src="https://img.icons8.com/officel/80/000000/circled-up.png"
    />
  </div>
</div>
